html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.container {
  padding: 1rem 3rem;
}
.title {
  text-align: center;
}
h4,h3 {
  margin: 0.5rem;
}
.inputSelector,
.inputControl 
{
  background-color: azure;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.table td {
  margin: 0;
  width: 50px;
  height: 50px;
}
.table td:hover {
  background-color: blanchedalmond;
}

.winline {
  background: radial-gradient(rgba(112, 255, 84, 0.645) 30%, rgba(112, 255, 84, 0) 70%) !important;
}
.lossline {
  background: radial-gradient(rgba(255, 84, 84, 0.645) 30%, rgba(255, 84, 84, 0) 70%) !important;
}
.table,
.table td input,
.table td {
  background-color: rgba(255, 255, 255, 0);
}

.table {
  margin: 1rem;
}

.vertical {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.horizontal {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.getNum {
  padding: 0;
  margin: 0;
  display: inline-block;
  line-height: 0;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  box-sizing: content-box;
  font: 2rem sans-serif;
  text-align: center;
}

.empty span{
  visibility: hidden;
}

button {
  padding: 0.6rem 0.9rem;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  background-color: black;
  font-size: 1rem;
  font-weight: bold;
  color: azure;
  transition: color ease-in 0.2s 100ms, background-color ease-in 0.2s 100ms, border ease-in 0.2s 100ms;
}

#try
{
  border: rgb(31, 55, 151) 1px solid;
  background-color: rgb(31, 55, 151);
  color: #fff;
}
#try:hover
{
  border: rgb(31, 55, 151) 1px solid;
  background-color: #fff;
  color: rgb(31, 55, 151);
}

#initGame {
  border: #fff 1px solid;
  background-color: darkslateblue;
  color: #fff;
}

#initGame:hover {
  border: darkslateblue 1px solid;
  background-color: #fff;
  color: darkslateblue;
}

.runAtip {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tip {
  font-size: 1.2rem;
  padding: 0.6rem;
  border-radius: 2rem;
  color: #fff;
}

.tipError
{
  background-color: rgb(255, 106, 106);
}

.tipSucess
{
  background-color: rgb(42, 156, 124);
}

.tipWait
{
  background-color: rgb(106, 121, 255);
}

.tipDraw
{
  background-color: rgb(114, 114, 114);
}

.hideSolveBtn
{
  display: none;
}